neutron-bullett-from-the-book-what-if-by-randall-munroe-checkpoint.ipynb
.directory
fortune/figdir.local
fortune/fortune.ans
fortune/fortune.dvi
fortune/fortune.inx
fortune/fortune.log
fortune/fortune.ref
fortune/fortune2.ans
fortune/fortune2.dvi
fortune/fortune2.inx
fortune/fortune2.log
fortune/fortune2.ref
fortune/texput.log
subpixel-accuracy/subpixel-accuracy-blx.bib
subpixel-accuracy/subpixel-accuracy.run.xml
pilit/ps.txt
pilit/pilit
pilit/pg45334.txt
pilit/pg218.txt
pilit/disacc
pilit/dbg.txt
pilit/a.out
pilit/DC.txt
pilit/1012-0.txt
quota/json/
quota/png/
quota/tif/
quota/p/
quota/stderr*.txt
COVID-19/gv/
COVID-19/RilevazioniPerCorsia*.csv
COVID-19/RilevazioniPerPostazione*.csv
bayes/_cache/
pmp/CMakeCache.txt
pmp/CMakeFiles/
pmp/Makefile
quota/.vscode/settings.json
quota/cache2.p
quota/cache2.p
quota/it.txt
quota/italy_geo.json
bayes/.RData
bayes/.Rhistory
COVID-19/.vscode/
ancient_plotter/a.out
bayes/a.out
